@font-face {
    font-family: 'ZZZFont';
    src: url('../fonts/_-webfont.woff2') format('woff2'),
    url('../fonts/_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}