<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Lowongan</title>
</head>
<body>
<form th:action="@{'/' + ${lmk.getKode_lmk()} + '/edit'}" method="post">
    <div>
        <label for="mataKuliah">Kode Mata Kuliah:</label>
        <input type="text" id="mataKuliah" name="kodeMk" th:value="${lmk.getMataKuliah().getKode_mk()}">
    </div>
    <div>
        <label for="tahunAjaran">Tahun Ajaran</label>
        <input type="text" name="tahunAjaran" id="tahunAjaran" th:value="${lmk.getPeriode().getTahun_ajaran()}">
    </div>
    <div>
        <label for="statusLowongan">Status Lowongan</label>
        <select id="statusLowongan" name="statusLowongan">
            <option value="Buka" th:selected="${lmk.getStatus_lowongan() == 'Buka'}">Buka</option>
            <option value="Tutup" th:selected="${lmk.getStatus_lowongan() == 'Tutup'}">Tutup</option>
        </select>
    </div>
    <div>
        <label for="jumlahLowongan">Jumlah Lowongan</label>
        <input type="text" name="jumlahLowongan" id="jumlahLowongan" th:value="${lmk.getJumlah_lowongan()}">
    </div>
    <button type="submit">Edit</button>
</form>

<form th:action="@{'/' + ${lmk.getKode_lmk()} + '/edit_mahasiswa'}" method="post">
    <table>
        <thead>
            <tr>
                <th>NPM</th>
                <th>Nama Mahasiswa</th>
                <th>IPK</th>
                <th>SKS</th>
                <th>
                    <label for="statusMahasiswa">Status</label>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="iter, iterStat : ${lmkMahasiswa}">
                <td th:text="${iter.getMahasiswa().getNpm()}"></td>
                <td th:text="${iter.getMahasiswa().getNama()}"></td>
                <td th:text="${iter.getIpk()}"></td>
                <td th:text="${iter.getSks()}"></td>
                <td>
                    <select th:name="|username_${iter.getMahasiswa().getUsername()}|" id="statusMahasiswa">
                        <option value="melamar" th:selected="${iter.getStatus()} == 'melamar'">Melamar</option>
                        <option value="direkomendasikan" th:selected="${iter.getStatus()} == 'direkomendasikan'">Direkomendasikan</option>
                        <option value="diterima" th:selected="${iter.getStatus() == 'diterima'}">Diterima</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button type="submit">Input</button>
    </div>
</form>
</body>
</html>